
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* Estilos para el formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título del formulario */
form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

/* Estilos para etiquetas y campos de entrada */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}

form input[type="file"] {
    display: block;
    margin-bottom: 20px;
}

/* Estilos para el botón de guardar */
form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes de error */
form .errorlist {
    color: red;
    margin-top: 5px;
}

/* Estilos para el csrf_token */
form input[name="csrfmiddlewaretoken"] {
    display: none;
}
