{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    <title>{% block title %}@DataBios.{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    
    {% block extra_css %}{% endblock %}
    

</head>
<body>
    {% block contenido_eliminar %}

    <body>
         <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'imagenes/logo.png' %}" alt=""></a>
        </div>
        <div class="logo">
            <a class="logo-text">@DataBios<span>.</span></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
                </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'imagenes/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>

        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> databios2023@gmail.com</li>
                <li>Envío gratis para todos los pedidos mayores a S/100.00</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> databios2023@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/Databios1/"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                    <a href="/logout/"><i class="fa fa-user"></i>Logout</a>
                                    <p>Bienvenido, {{ user.username }}</p>
                                {% else %}
                                <a href="/login/"><i class="fa fa-user"></i>Login</a>
                                <a href="/register/"><i class="fa fa-user"></i>Register</a>
                                {% endif %}

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="{% static 'imagenes/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/catalogo/">Tienda</a></li>
                            {% if user.is_superuser %}
                                    <li>
                                        <a href="/product/create/" class="login-button">CREAR</a>

                                    </li>
                                    <li>
                                        <a href="/product/list/" class="login-button">ACTUALIZAR</a>

                                    </li>
                                    <li>

                                        <a href="/product/delete/list/" class="login-button">ELIMINAR</a>

                                    </li>
                                    {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>CATEGORIAS</span>
                        </div>
                        <ul>
                            {% for categoria in categorias %}
                            <li><a href="/catalogo/" value="{{ categoria.nombre }}">{{ categoria.nombre }}</li>
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>993 816 359</h5>
                                <span>| Atencion | 24/7 |</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'imagenes/hero/banner.jpg' %}">
                        <div class="hero__text">
                            <span>Chala 2023</span>
                            <h2> Libreria<br /> DATABIOS</h2>
                            <p><strong>Somos una empresa 100% peruana, proveedora de <br /> utiles de oficina, productos de limpieza, tecnologia, <br />y demas productos y servicios especializados para empresas.</strong></p>
                            <a href="/catalogo/" class="primary-btn">COMPRAR AHORA</a>
                        </div>
                    </div>
                    {% endblock %}

                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
        

    <main>
        {% block content %}{% endblock %}
    </main>

    
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'imagenes/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: chala, Puerto Chala, Peru</li>
                            <li>Phone: +51 993 816 359</li>
                            <li>Email: databios2023@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/Databios1/"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="footer__copyright__payment"><img src="{% static 'imagenes/payment-item.png' %}" alt=""></div>

                </div>
            </div>
            <div align=center class="footer__copyright">
                <div  class="footer__copyright__text"><p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Databios SRL <i class="fa fa-heart" aria-hidden="true"></i>  </a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
            </div>
        </div>
        
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>