{% extends 'index.html' %}
{% block content %}
<script>
    function obtenerSelect(selectElement) {
        var selected = selectElement.options[selectElement.selectedIndex].text;
        console.log(selected);

        // Enviamos una peticion AJAX al servidor
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/filtroCategoria/?categoria=' + selected, true);
        xhr.onreadystatechange = () => { // por cambio...
            if (xhr.readyState === 4 && xhr.status === 200) {// si hay buena respuesta del servidor
                var response = xhr.responseText;
                document.getElementById('productos').innerHTML = response;
            }
        };
        xhr.send();
        
    }
</script>

<body>
    
    <div id = "productos" class="catalog-container">
        {% for obj in productos %}
                <h1 class="product-title">{{ obj.nombre }}</h1>
                <div class="img-container">
                    <img src='{{ obj.imagen.url }}' alt = '{{ obj.nombre }}' class='product-image'>
                </div>
                
                <h2 class="product-description">{{ obj.descripcion }}</h2>
                <h2>Stock: {{ obj.stock }}</h2>
                <h1 class="product-price">Precio: S/{{ obj.precio }}</h1>
                <button class="buy-button">COMPRAR</button>
        {% endfor %}
    </div>


</body>

{%endblock%}